<<<<<<< HEAD
<<<<<<< HEAD
.khung{width:100%;height:auto;background:red;float:left}.khung .box1{float:left;width:100%;height:130px;background:#121}.khung .box1 .b1{float:left;width:100%;height:80px;background:#fff}.khung .box1 .b1 img{float:left;width:10%;height:100%;margin-right:70%}.khung .box1 .b1 .v1{float:left;width:10%;height:100%}.khung .box1 .b1 .v1 .k1{float:left;width:30%;height:80%;margin-top:5%;background:red}.khung .box1 .b1 .v1 .k1 img{width:100%;height:100%}.khung .box1 .b1 .v1 .k2{float:left;width:70%;height:100%;background:#fff}.khung .box1 .b1 .v1 .k2 p{padding-left:10px;display:block}.khung .box2{float:left;width:100%;height:50px;background:pink}.khung .box2 ul{padding:0;margin:0}.khung .box2 ul li{list-style:none}.khung .box2 ul li a{float:left;display:block;height:100%;width:14.14%;font-size:20px;color:#000;text-align:center;line-height:50px;text-decoration:none;background:#01DF3A;border:1px solid #000}.khung .box2 ul li a:hover{background:#0B610B;color:red}
=======
* {
  margin: 0auto;
  padding: 0auto; }

.khung {
  width: 100%;
  height: auto;
  background: red;
  float: left; }

#container {
  margin: 0 auto;
  height: 980px;
  width: 70%;
  background: pink; }
  #container #box3 {
    height: 980px;
    width: 25%;
    float: right;
    background: white; }
    #container #box3 #box31 {
      height: 200px;
      width: 98%;
      float: left;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #888888;
      background: white; }
      #container #box3 #box31 #tieude {
        height: 50px;
        width: 96%;
        float: left;
        margin-top: 5px;
        margin-left: 2%;
        border-radius: 8px 8px 0px 0px;
        background: green; }
      #container #box3 #box31 h2 {
        text-align: left;
        color: white;
        font-size: 17px;
        margin-top: 15px;
        margin-left: 15px; }
      #container #box3 #box31 #menu {
        height: 140px;
        width: 96%;
        float: left;
        margin: 0;
        margin-left: 2%; }
        #container #box3 #box31 #menu ul {
          width: 100%;
          height: 95%;
          margin: 0;
          padding: 3px;
          float: left;
          list-style-type: none;
          text-align: left; }
        #container #box3 #box31 #menu li {
          margin: 0;
          float: left;
          width: 100%;
          height: 23%; }
        #container #box3 #box31 #menu a {
          margin: 0;
          padding-top: 10px;
          margin-left: 10px;
          text-decoration: none;
          text-align: center;
          color: #888888;
          font-size: 15px; }
          #container #box3 #box31 #menu a:hover {
            color: black; }
        #container #box3 #box31 #menu hr {
          margin: 0;
          float: left;
          height: 1px; }
    #container #box3 #box32 {
      height: 250px;
      width: 98%;
      float: left;
      margin-top: 20px;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #888888;
      background: white; }
      #container #box3 #box32 #tieude {
        height: 50px;
        width: 96%;
        float: left;
        margin-top: 5px;
        margin-left: 2%;
        border-radius: 8px 8px 0px 0px;
        background: green; }
        #container #box3 #box32 #tieude h2 {
          font-size: 17px;
          text-align: center;
          color: white;
          margin-top: 15px; }
      #container #box3 #box32 #hinh {
        height: 190px;
        width: 96%;
        float: left;
        margin: 0;
        margin-left: 2%; }
        #container #box3 #box32 #hinh img {
          margin-left: 7px;
          margin-top: 15px; }
        #container #box3 #box32 #hinh h4 {
          margin: 0;
          margin-left: 10px;
          font-size: 18px;
          color: black; }
        #container #box3 #box32 #hinh hr {
          margin-top: 8px;
          height: 0.5px; }
    #container #box3 #box33 {
      height: 230px;
      width: 98%;
      float: left;
      margin-top: 20px;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #888888;
      background: white; }
      #container #box3 #box33 #tieude {
        height: 50px;
        width: 96%;
        float: left;
        margin-top: 5px;
        margin-left: 2%;
        border-radius: 8px 8px 0px 0px;
        background: green; }
        #container #box3 #box33 #tieude h2 {
          font-size: 17px;
          text-align: left;
          color: white;
          margin-top: 15px;
          margin-left: 15px; }
      #container #box3 #box33 #video {
        height: 150px;
        width: 96%;
        float: left;
        margin-top: 10px;
        margin-left: 2%;
        background: pink; }
        #container #box3 #box33 #video iframe {
          width: 100%;
          height: 100%; }
    #container #box3 #box34 {
      height: 200px;
      width: 98%;
      float: left;
      margin-top: 20px;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #888888;
      background: white; }
      #container #box3 #box34 #tieude {
        height: 50px;
        width: 96%;
        float: left;
        margin-top: 5px;
        margin-left: 2%;
        border-radius: 8px 8px 0px 0px;
        background: green; }
      #container #box3 #box34 h2 {
        text-align: left;
        color: white;
        font-size: 17px;
        margin-top: 15px;
        margin-left: 15px; }
      #container #box3 #box34 #hinh {
        height: 120px;
        width: 96%;
        float: left;
        margin-top: 4%;
        margin-left: 2%; }
        #container #box3 #box34 #hinh img {
          width: 100%;
          height: 100%; }
>>>>>>> Tlinh
=======
#box4 {
  width: 80%;
  height: auto;
  background: #00DD00;
  margin-left: 140px;
  margin-top: 20px;
  padding-bottom: 40px;
  font-family: 'Oleo Script', cursive; }
  #box4 col-md-3 h3 {
    margin-left: 80px;
    margin-bottom: 50px; }
  #box4 a {
    text-decoration: none;
    font-family: 'Oleo Script', cursive; }
  #box4 img {
    width: 300px;
    height: 200px;
    margin-top: 0; }
  #box4 p {
    font-style: italic;
    font-family: 'Oleo Script', cursive; }
>>>>>>> nhatquang
